@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    @apply bg-[#080808] text-[#F9F8F3] antialiased;
    font-family: 'Inter', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Instrument Serif', serif;
    @apply text-[#F9F8F3] font-normal;
  }
}

/* Custom Utilities for that "Alive" Feel */
@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-2xl border border-white/10;
  }
  
  .text-ghost {
    color: transparent;
    -webkit-text-stroke: 1px #B3A369;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}